@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("./fonts/Causten-Regular.otf");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "VCR";
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 100%;
  filter: blur(2px);
  opacity: 0.75;
}

.swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-fraction {
  bottom: 0 !important;
  color: #004694 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  font-family: "VCR";
  letter-spacing: -2px;
}
