@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("./fonts/Causten-Regular.otf");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "VCR";
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

.radial1 {
  background: radial-gradient(
    190.89% 113.03% at 51.85% 5.24%,
    #ffc88a 0%,
    #ff8800 100%
  );
}

.radial2 {
  background: radial-gradient(
    433% 174.49% at 52.08% 15.76%,
    #add4ff 0%,
    #004694 81.1%
  );
}

.radial3 {
  background: radial-gradient(
    190.89% 113.03% at 51.85% 5.24%,
    #fff3e4 0%,
    #ffc88a 100%
  );
}

.radial4 {
  background: radial-gradient(
    154.98% 91.76% at 51.85% 26.5%,
    #add4ff 0%,
    #ffffff 100%
  );
}

.radial5 {
  background: radial-gradient(
    154.98% 91.76% at 51.85% 26.5%,
    #ffc88a 0%,
    #ffedd8 100%
  );
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 100%;
  filter: blur(2px);
  opacity: 0.75;
}

.swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-fraction {
  bottom: 0 !important;
  color: #004694 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  font-family: "VCR";
  letter-spacing: -2px;
}
