@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("./fonts/Causten-Regular.otf");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "VCR";
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

.radial1 {
  background: radial-gradient(
    190.89% 113.03% at 51.85% 5.24%,
    #ffc88a 0%,
    #ff8800 100%
  );
}

.radial2 {
  background: radial-gradient(
    433% 174.49% at 52.08% 15.76%,
    #add4ff 0%,
    #004694 81.1%
  );
}

.radial3 {
  background: radial-gradient(
    190.89% 113.03% at 51.85% 5.24%,
    #fff3e4 0%,
    #ffc88a 100%
  );
}
